{% extends 'track/base.html' %}
{% block content %}
<br>

<br>
<div class="w3-container">
  <div class="container" style="text-align:center;">
    <b><h1>Districts in India</h1></b>
  <b><p>Check resources available:</p></b>
  </div>
  <br>
  {% for i,j in l.items %}
    <div class="jumbotron">
      <h2 class="display-3">{{ i }}</h2>
      <hr class="my-2">
      <p>Districts</p>
      <p class="lead">
        {% for k in j %}
        <div class="list-group">
          <a href="/res/{{ k }}/" class="list-group-item list-group-item-action">{{ k }}</a>
        </div>
            {% comment %} <h5><a href="/res/{{ k }}/" role="button">{{ k }}</a></h5>   {% endcomment %}
        {% endfor %}
      </p>
    </div>
    {% comment %} {% for k in i %}
      <h2><a href="{% url 'resources' k %}">{{ k }}</a></h2>
    {% endfor %} {% endcomment %}
    {% endfor %}

{% endblock %}


{% comment %} <h2><a href="{% url 'resources' i %}"></a></h2> {% endcomment %}