{% extends 'track/base.html' %}
{% block content %}
<br>
<b><h1 style="font-size:70px;text-align:center;" >Report</h1></b>
<br>
<div style="text-align:center;margin:auto;" class="container-fluid">

        <table  style="text-align:center" class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                <th>sno</th>
                {% for i in out.0 %}
                        <th>{{ i }}</th>
                {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for i in out %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        {% for k,v in i.items %}
                            <td>{{ v }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
        </table>

</div>
{% endblock %}